.itemDetail{
    display: grid;
    grid-template-areas: 
    "img titulo"
    "img aside";
    align-items: center;
    background-color: black;
    color: white;

    .titulo{
        grid-area: titulo;
        text-align: center;
        color: #ff9f1c;
        margin: auto;
        padding: 3px 40px;
        border-radius: 10px;
    }
    .imagen{grid-area:img;}
    .aside{grid-area: aside;}

    img{
        max-width: 600px;
        max-height: auto;
        margin: 30px 0;
    }
}