
.menu{
    top:0;
    background-color: white;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 6fr 1fr;
    width:100%;
    font-size: 1.5rem;
    border-bottom: 1px gray solid;
}
nav > ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
/* nav > ul > li:hover{
    background-color: black;
    color: white;
} */
nav > ul > li > ul >ul{
    list-style: none;
}


.tituloUl{
    font-weight: bold;
}
.logo-notanmacho{
    font-size: 1.5rem;
    max-width: auto;
}