.item{
    margin: 60px;
    text-align:end;
    padding: 10px;
    // box-shadow: 
    // // BORRAR
    // 2px 0px 10px 0px gray ;
    img{
        // max-width: 400px;
        // max-height: 400px;
        width: 400px;
        height: 400px;
        object-fit: cover;
    }
}