nav > ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

nav > ul > li > ul >ul{
    list-style: none;
}

.menu-catalogo-desplegable{
    display: none;
}
.menu-catalogo:hover .menu-catalogo-desplegable{
    display: inline;
}
.tituloUl{
    font-weight: bold;
}