@import 'components/Menu.css';
@import 'components/Logo.css'; 
@import 'components/Item/item.css';
@import 'components/Item/itemList.css';

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
body {
  background-color: rgb(195, 195, 195);
  font-size: 2rem;
}
